*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(129, 111, 111);
}
.app-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;align-items: center;
    flex-direction: column;
   

}
.user{

    background: rgb(216, 213, 213);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    padding: 30px;
    padding-bottom: 0;
}

.avatar{
    border-radius: 50%;
    width: 200px;
    height: 200px;
 
}
.user__info--item--prototype, .repo__list--item--prototype{
    display: none;
}
.user__info{
    padding: 30px;
}
.button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: green;
    cursor: pointer;
    color: white;
    transition: .2s;
}
.button:hover{
    filter: brightness(150%);
}
.clear-button{
    background: rgb(187, 3, 3);
}
.user__authorization{
    margin: 20px auto;
}
.repo{
    width: 300px;
    height: auto;
    background: rgb(243, 203, 203);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 15px;
    flex-direction: column; 
}
.user__info--item{
    list-style-type: none;
}
.repo__list{
    list-style-type:decimal;
}
span{
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
}